---
interface Props {
  texto: string;
  href: string;
}

const { texto, href } = Astro.props;
---

<button
  class="text-lg
  btn
  rounded-full
  bg-[rgba(255,255,255,0.1)]
  backdrop-blur-[3px]
  text-black
  border-oro
  hover:bg-oro
  hover:text-white"
  ><a href={href}>{texto}</a>
</button>
