---
import PixelBlast from "../../components/react/PixelBlast.jsx";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Claro from "../../components/astro/botones/Claro.astro";
import Opaco from "../../components/astro/botones/Opaco.astro";
import BandaLogos from "../../components/react/BandaLogos.jsx";
import CajaContenido from "../../layouts/CajaContenido.astro";
import Countdown from "../../components/astro/Countdown.astro";

const title = "Inicio";
---

<BaseLayout title={title}>
  <div class="w-full h-screen relative -mt-10">
    <PixelBlast
      variant="square"
      pixelSize={6}
      color="#eff6ff"
      patternScale={3}
      patternDensity={1}
      pixelSizeJitter={0}
      speed={0.8}
      edgeFade={0.25}
      transparent
      client:load
    />
    <div
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 h-auto w-[99vw] px-4 md:px-32 xl:px-64"
    >
      <Countdown lang={"en"} />
      <h1
        data-aos="fade-up"
        data-aos-duration="1000"
        class="text-center text-xl md:text-3xl xl:text-4xl font-bold text-white bg-azul py-4"
      >
        1<sup>st</sup> International Research Congress:
      </h1>
      <h3
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="300"
        class="text-center text-3xl md:text-5xl xl:text-7xl font-bold text-balance text-azul drop-shadow-lg drop-shadow-white"
      >
        University Perspectives from Multidisciplinarity and Application
      </h3>
      <div
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="400"
        class="flex gap-4 w-full justify-center pt-12"
      >
        <Claro texto="Call for Papers" href="#" />
        <Opaco texto="Pre - Registration" href="#" />
      </div>
    </div>
  </div>
  <div data-aos="fade-up" data-aos-duration="1000">
    <BandaLogos client:load />
  </div>

  <CajaContenido>
    <div class="grid grid-cols-2 items-center py-20">
      <div>
        <p
          data-aos="fade-up"
          data-aos-duration="1000"
          class="text-center text-azul"
        >
          (Logo)
        </p>
        <h2
          data-aos="fade-up"
          data-aos-duration="1000"
          class="text-center text-7xl font-bold text-azul"
        >
          CII-PUMA
        </h2>
      </div>
      <div>
        <p data-aos="fade-up" data-aos-duration="1000">
          The Faculty of Higher Studies Acatlán (FES Acatlán) is pleased to
          present the <strong>CII-PUMA</strong>, a welcoming space that comes to
          life to share ideas, listen to one another, and build bridges between
          diverse voices. For four special days, we will meet with people
          committed to knowledge, teaching, research, and change: leaders,
          professors, students, and representatives from various sectors. It
          will be a time to imagine together responses to the challenges of our
          time, from a critical, generous, and proactive perspective. With a
          multidisciplinary and inclusive approach, this gathering will be
          organized around five strategic axes that encourage dialogue and
          action.
        </p>
        <br />
        <p data-aos="fade-up" data-aos-duration="1000">
          With this event, FES Acatlán seeks to connect academic thought with
          the real needs of our society, promoting solutions from the university
          community to the world.
        </p>
      </div>
    </div>
  </CajaContenido>

  <CajaContenido>
    <div class="bg-slate-100/60"></div>
  </CajaContenido>

  <div class="bg-white">
    <CajaContenido
      ><div class="pt-14">
        <div
          data-aos="fade-up"
          data-aos-duration="1000"
          class="border-l-5 border-oro pl-4"
        >
          <h3 class="text-5xl font-bold">DESIGNING TOMORROW</h3>
          <p class="text-2xl text-slate-600">
            Technology, Justice and Sustainability
          </p>
        </div>
        <br />
        <br />
        <p data-aos="fade-up" data-aos-duration="1000" class="text-lg">
          During this dynamic and meaningful day, we will share inspiring talks
          and parallel sessions with experts in each of the thematic areas. We
          will also have spaces designed to open conversations, explore recent
          ideas, and engage in open and collaborative dialogue. This meeting
          will be an excellent opportunity to forge real connections among those
          from academia, public institutions, the productive sector, and civil
          society.
        </p>
        <br />
        <p data-aos="fade-up" data-aos-duration="1000" class="text-lg">
          The themes guiding this conference touch on problems that we already
          experience in our daily lives, and invite us to imagine, from
          different perspectives, how to build a fairer, more livable and more
          supportive future for everyone.
        </p>
      </div></CajaContenido
    >
    <div
      id="auto-play"
      data-carousel='{ "loadingClasses": "opacity-0", "isAutoPlay": true, "speed": 9000, "isInfiniteLoop": true }'
      class="relative w-full pb-20"
    >
      <div class="carousel h-120">
        <div class="carousel-body opacity-0 h-full">
          <!-- Slide del eje IA y TE -->
          <div class="carousel-slide">
            <div class="flex h-full justify-center p-6">
              <div
                class="flex flex-col items-center self-center text-center px-64"
              >
                <span class="icon-[mingcute--ai-fill] size-35 bg-oro"></span>
                <h4 class="font-bold text-2xl sm:text-3xl">
                  Artificial Intelligence (AI) and Emerging Technologies (ET)
                </h4><br />
                <p class="text-lg text-balance">
                  Artificial intelligence and other emerging technologies are
                  already changing our daily lives: the way we learn and work,
                  even how decisions are made in healthcare, justice, and many
                  other key areas are constantly evolving. This theme invites us
                  to explore the enormous potential of AI and ET to improve
                  processes and solve complex problems, as well as the ethical
                  and social dilemmas that arise when algorithms begin to
                  influence human decisions. We will reflect on how to leverage
                  these tools responsibly, creatively, and with a human touch.
                </p>
              </div>
            </div>
          </div>
          <!-- Slide de Género -->
          <div class="carousel-slide">
            <div class="flex h-full justify-center p-6">
              <div
                class="flex flex-col items-center self-center text-center px-64"
              >
                <span class="icon-[streamline--gender-equality] size-35 bg-oro"
                ></span>
                <h4 class="font-bold text-2xl sm:text-3xl">
                  Género, inclusión y grupos marginados
                </h4><br />
                <p class="text-lg text-balance">
                  Construir una sociedad más equitativa empieza por reconocer
                  que todas las personas han tenido oportunidades diferentes y
                  su entorno ha sido diferente. Este eje nos invita a
                  reflexionar sobre cómo derribar las barreras estructurales que
                  han limitado la participación plena de mujeres, pueblos
                  originarios y otros grupos históricamente excluidos, en
                  ámbitos como la ciencia, la tecnología, la educación y la
                  política. Hablaremos de inclusión como un gesto simbólico y
                  como una transformación profunda para que todas las voces sean
                  escuchadas, respetadas y valoradas por igual.
                </p>
              </div>
            </div>
          </div>
          <!-- Slide de Migración -->
          <div class="carousel-slide">
            <div class="flex h-full justify-center p-6">
              <div
                class="flex flex-col items-center self-center text-center px-64"
              >
                <span class="icon-[mdi--world] size-35 bg-oro"></span>
                <h4 class="font-bold text-2xl sm:text-3xl">
                  Migración: Violencia y Criminalización
                </h4><br />
                <p class="text-lg text-balance">
                  Detrás de cada desplazamiento migratorio hay historias de
                  esperanza, lucha y resiliencia. Sin embargo, muchas de esas
                  trayectorias están marcadas por la violencia, la
                  discriminación y la criminalización de quienes migran. En este
                  eje queremos mirar la migración como un fenómeno global y como
                  una experiencia profundamente humana que nos concierne a
                  todos. Hablaremos de cómo cambiar las narrativas, cómo tender
                  puentes en lugar de muros, y cómo imaginar políticas y
                  comunidades que acojan, protejan y reconozcan el valor de cada
                  persona migrante.
                </p>
              </div>
            </div>
          </div>
          <!-- Slide de Habilidades -->
          <div class="carousel-slide">
            <div class="flex h-full justify-center p-6">
              <div
                class="flex flex-col items-center self-center text-center px-64"
              >
                <span class="icon-[mdi--idea] size-35 bg-oro"></span>
                <h4 class="font-bold text-2xl sm:text-3xl">
                  Habilidades para la vida: Pensar, colaborar y adaptarse en un
                  mundo cambiante
                </h4><br />
                <p class="text-lg text-balance">
                  En tiempos de cambios constantes, saber mucho ya no basta. En
                  nuestros tiempos, habilidades como el pensamiento crítico, la
                  comunicación efectiva, la empatía, la resiliencia y la
                  capacidad de resolver conflictos son esenciales para navegar
                  la vida personal, académica y profesional. Este eje centra la
                  discusión en las llamadas habilidades blandas, aquellas que
                  nos permiten colaborar, adaptarnos y tomar decisiones con
                  conciencia y sensibilidad. Reconocer su valor es clave para
                  formar personas capaces de responder a los retos del presente
                  y de construir entornos más humanos, creativos y sostenibles.
                </p>
              </div>
            </div>
          </div>
          <!-- Slide de Sustentabilidad -->
          <div class="carousel-slide">
            <div class="flex h-full justify-center p-6">
              <div
                class="flex flex-col items-center self-center text-center px-64"
              >
                <span class="icon-[mdi--seed] size-35 bg-oro"></span>
                <h4 class="font-bold text-2xl sm:text-3xl">
                  Sustentabilidad en el siglo XXI: tecnología, cultura y el arte
                  de cuidar el futuro
                </h4><br />
                <p class="text-lg text-balance">
                  El planeta requiere nuestra urgente atención. Este eje nos
                  invita a repensar, desde distintas disciplinas y vivencias
                  sobre nuestra relación e interacción con la Tierra: cómo
                  usamos los recursos naturales, cómo producimos y consumimos, y
                  cómo podemos vivir de manera más consciente, justa y
                  solidaria. Abordaremos la sustentabilidad no solo desde la
                  ecología, sino también desde la tecnología, la cultura, la
                  gobernanza y la vida cotidiana.
                </p>
                <p class="text-lg text-balance">
                  Exploramos propuestas locales y globales para enfrentar la
                  crisis climática y social del siglo XXI, reconociendo que
                  construir comunidades proactivas y responsables requiere
                  conocimiento, colaboración y un profundo compromiso con el
                  presente y el porvenir.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Previous Slide -->
      <button
        type="button"
        class="carousel-prev start-5 max-sm:start-3 carousel-disabled:opacity-50 size-9.5 bg-base-100 flex items-center justify-center rounded-full shadow-base-300/20 shadow-sm bg-blue-900"
      >
        <span class="icon-[tabler--chevron-left] size-5 cursor-pointer bg-white"
        ></span>
        <span class="sr-only">Previous</span>
      </button>
      <!-- Next Slide -->
      <button
        type="button"
        class="carousel-next end-5 max-sm:end-3 carousel-disabled:opacity-50 size-9.5 bg-base-100 flex items-center justify-center rounded-full shadow-base-300/20 shadow-sm bg-blue-900"
      >
        <span
          class="icon-[tabler--chevron-right] size-5 cursor-pointer bg-white"
        ></span>
        <span class="sr-only">Next</span>
      </button>
    </div>
  </div>
</BaseLayout>
