---
// Layouts
import BaseLayout from "../layouts/BaseLayout.astro";
import CajaContenido from "../layouts/CajaContenido.astro";
import Header from "../layouts/Header.astro";

// Components
import Opaco from "../components/astro/botones/Opaco.astro";
import BandaLogos from "../components/react/BandaLogos.jsx";
import Countdown from "../components/astro/Countdown.astro";
import Tittle from "../components/astro/text/Tittle.astro";

// Variables
const title = "Inicio";
---

<BaseLayout title={title}>
  <Header color="eff6ff">
    <Countdown lang={"es"} />
    <h1
      data-aos="fade-up"
      data-aos-duration="1000"
      class="text-center text-xl md:text-3xl xl:text-4xl font-bold text-white bg-azul py-4"
    >
      1<sup>er</sup> Congreso Internacional de Investigación:
    </h1>
    <h3
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="300"
      class="text-center text-3xl md:text-5xl xl:text-7xl font-bold text-balance text-azul drop-shadow-lg drop-shadow-white"
    >
      Perspectivas Universitarias desde la Multidisciplina y la Aplicación
    </h3>
    <div
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="400"
      class="flex gap-4 w-full justify-center pt-12"
    >
      <Opaco
        texto="Pre - Registro"
        href="https://docs.google.com/forms/d/e/1FAIpQLScI96v9oFpvtpZ40A5JFKPQNZLy87ChD5PcnfFizvCnRM4Dzg/viewform?usp=header"
      />
    </div>
  </Header>
  <div data-aos="fade-up" data-aos-duration="1000">
    <BandaLogos client:load />
  </div>

  <div class="bg-slate-100/60 py-12">
    <CajaContenido>
      <Tittle
        title="Objetivo"
        subtitle="El objetivo de la CII-PUMA:"
        color="oro"
      />

      <div>
        <p data-aos="fade-up" data-aos-duration="1000" class="text-lg py-4">
          Crear un espacio diverso y significativo para compartir ideas,
          experiencias y saberes en torno a los grandes desafíos de nuestro
          tiempo, fomentando el pensamiento crítico, el diálogo
          multidisciplinario y la construcción colectiva de propuestas que
          conecten la academia con la vida social, cultural y ambiental.
        </p>
      </div>
    </CajaContenido>
  </div>
  <CajaContenido>
    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-0 items-center py-20"
    >
      <div>
        <p
          data-aos="fade-up"
          data-aos-duration="1000"
          class="text-center text-azul"
        >
          (Logo)
        </p>
        <h2
          data-aos="fade-up"
          data-aos-duration="1000"
          class="text-center text-7xl font-bold text-azul"
        >
          CII-PUMA
        </h2>
      </div>
      <div>
        <p data-aos="fade-up" data-aos-duration="1000">
          La Facultad de Estudios Superiores Acatlán tiene el gusto de presentar
          el <strong>CII-PUMA</strong>, un espacio acogedor que cobra vida para
          compartir ideas, escucharnos, y construir puentes entre distintas
          voces. Durante cuatro días especiales, nos encontraremos con personas
          comprometidas con el saber, la docencia, la investigación y el cambio:
          líderes, profesoras, profesores, estudiantes y representantes de
          diversos sectores. Será un momento para imaginar juntas y juntos
          respuestas a los desafíos de nuestro tiempo, desde una mirada crítica,
          generosa y propositiva. Con una perspectiva multidisciplinaria e
          incluyente, este encuentro se organizará en torno a cinco ejes
          estratégicos que invitan al diálogo y la acción.
        </p>
        <br />
        <div
          class="accordion accordion-shadow *:accordion-item-active:shadow-md"
        >
          <div class="accordion-item active" id="payment-shadow">
            <button
              class="accordion-toggle inline-flex items-center gap-x-4 px-5 py-4 text-start"
              aria-controls="payment-shadow-collapse"
              aria-expanded="true"
            >
              <span
                class="icon-[tabler--plus] accordion-item-active:hidden text-base-content size-4.5 block shrink-0"
              ></span>
              <span
                class="icon-[tabler--minus] accordion-item-active:block text-base-content size-4.5 hidden shrink-0"
              ></span>
              Conferencia Magistral
            </button>
            <div
              id="payment-shadow-collapse"
              class="accordion-content w-full overflow-hidden transition-[height] duration-300"
              aria-labelledby="payment-shadow"
              role="region"
            >
              <div class="px-5 pb-4">
                <p class="text-base-content/80 font-normal">
                  Tiempo: 60 minutos. Sugerencia: 50 minutos para la charla y 10
                  minutos de preguntas.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item" id="delivery-shadow">
            <button
              class="accordion-toggle inline-flex items-center gap-x-4 px-5 py-4 text-start"
              aria-controls="delivery-shadow-collapse"
              aria-expanded="false"
            >
              <span
                class="icon-[tabler--plus] accordion-item-active:hidden text-base-content size-4.5 block shrink-0"
              ></span>
              <span
                class="icon-[tabler--minus] accordion-item-active:block text-base-content size-4.5 hidden shrink-0"
              ></span>
              Conferencia
            </button>
            <div
              id="delivery-shadow-collapse"
              class="accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
              aria-labelledby="delivery-shadow"
              role="region"
            >
              <div class="px-5 pb-4">
                <p class="text-base-content/80 font-normal">
                  Tiempo: 25 minutos. Sugerencia: 20 minutos para la charla y 5
                  minutos para las preguntas.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item" id="cancel̉-shadow">
            <button
              class="accordion-toggle inline-flex items-center gap-x-4 px-5 py-4 text-start"
              aria-controls="cancel̉-shadow-collapse"
              aria-expanded="false"
            >
              <span
                class="icon-[tabler--plus] accordion-item-active:hidden text-base-content size-4.5 block shrink-0"
              ></span>
              <span
                class="icon-[tabler--minus] accordion-item-active:block text-base-content size-4.5 hidden shrink-0"
              ></span>
              Taller
            </button>
            <div
              id="cancel̉-shadow-collapse"
              class="accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
              aria-labelledby="cancel̉-shadow"
              role="region"
            >
              <div class="px-5 pb-4">
                <p class="text-base-content/80 font-normal">
                  Tiempo: cada sesión es de 90 minutos y combina teoría y
                  práctica.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item" id="cancel̉-shadow">
            <button
              class="accordion-toggle inline-flex items-center gap-x-4 px-5 py-4 text-start"
              aria-controls="cancel̉-shadow-collapse"
              aria-expanded="false"
            >
              <span
                class="icon-[tabler--plus] accordion-item-active:hidden text-base-content size-4.5 block shrink-0"
              ></span>
              <span
                class="icon-[tabler--minus] accordion-item-active:block text-base-content size-4.5 hidden shrink-0"
              ></span>
              Póster
            </button>
            <div
              id="cancel̉-shadow-collapse"
              class="accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
              aria-labelledby="cancel̉-shadow"
              role="region"
            >
              <div class="px-5 pb-4">
                <p class="text-base-content/80 font-normal">
                  Póster/cartel es una sesión de 90 minutos en la que el ponente
                  expone el tema con los asistentes que llegan a su estación. La
                  medida del póster es de 90 cm (ancho) × 120 cm (alto). Cada
                  ponente debe traer su póster impreso. El comité organizador
                  asignará el espacio y el panel para colocar su póster.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item" id="cancel̉-shadow">
            <button
              class="accordion-toggle inline-flex items-center gap-x-4 px-5 py-4 text-start"
              aria-controls="cancel̉-shadow-collapse"
              aria-expanded="false"
            >
              <span
                class="icon-[tabler--plus] accordion-item-active:hidden text-base-content size-4.5 block shrink-0"
              ></span>
              <span
                class="icon-[tabler--minus] accordion-item-active:block text-base-content size-4.5 hidden shrink-0"
              ></span>
              Conferencia paralela
            </button>
            <div
              id="cancel̉-shadow-collapse"
              class="accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
              aria-labelledby="cancel̉-shadow"
              role="region"
            >
              <div class="px-5 pb-4">
                <p class="text-base-content/80 font-normal">
                  25 minutos en total. Sugerencia: 20 minutos para la charla y 5
                  para preguntas.
                </p>
              </div>
            </div>
          </div>
        </div>
        <br />
        <p data-aos="fade-up" data-aos-duration="1000">
          Con este evento, la FES Acatlán busca conectar el pensamiento
          académico con las necesidades reales de nuestra sociedad, impulsando
          soluciones desde la comunidad universitaria hacia el mundo.
        </p>
      </div>
    </div>
  </CajaContenido>

  <CajaContenido>
    <div class="bg-slate-100/60"></div>
  </CajaContenido>

  <div class="bg-white">
    <CajaContenido
      ><div>
        <div
          data-aos="fade-up"
          data-aos-duration="1000"
          class="border-l-5 border-oro pl-4"
        >
          <h3 class="text-5xl font-bold">DISEÑANDO EL MAÑANA</h3>
          <p class="text-2xl text-slate-600">
            Tecnología, Justicia y Sostenibilidad
          </p>
        </div>
        <br />
        <br />
        <p data-aos="fade-up" data-aos-duration="1000" class="text-lg">
          Durante esta jornada dinámica y significativa, compartiremos charlas
          inspiradoras y sesiones en paralelo con personas expertas en cada uno
          de los ejes temáticos. También contaremos con espacios diseñados para
          abrir conversaciones, explorar ideas recientes y dialogar de manera
          abierta y colaborativa. Este encuentro será una excelente ocasión para
          tejer conexiones reales entre quienes vienen del mundo académico, de
          instituciones públicas, del sector productivo y de la sociedad civil.
        </p>
        <br />
        <p data-aos="fade-up" data-aos-duration="1000" class="text-lg">
          Los temas que guían esta conferencia tocan problemáticas que ya
          vivimos en lo cotidiano, y nos invitan a imaginar, desde distintas
          perspectivas, cómo construir un futuro más justo, habitable y
          solidario para todas y todos.
        </p>
      </div></CajaContenido
    >
    <div
      id="auto-play"
      data-carousel='{ "loadingClasses": "opacity-0", "isAutoPlay": true, "speed": 9000, "isInfiniteLoop": true }'
      class="relative w-full pb-20"
    >
      <div class="carousel h-180 md:h-120">
        <div class="carousel-body opacity-0 h-full">
          <!-- Slide del eje IA y TE -->
          <div class="carousel-slide">
            <div class="flex h-full justify-center p-6">
              <div
                class="flex flex-col items-center self-center text-center px-12 md:px-24 lg:px-32 xl:px-64"
              >
                <span class="icon-[mingcute--ai-fill] size-35 bg-oro"></span>
                <h4 class="font-bold text-2xl sm:text-3xl">
                  Inteligencia Artificial (IA) y Tecnologías Emergentes (TE)
                </h4><br />
                <p class="text-lg text-balance">
                  La inteligencia artificial y otras tecnologías emergentes ya
                  están cambiando nuestra vida cotidiana: la manera en que
                  aprendemos y trabajamos, hasta cómo se toman decisiones en la
                  salud, la justicia y muchos otros ámbitos clave evolucionan
                  constantemente. Este eje invita a explorar el enorme potencial
                  de AI y de las TE para mejorar procesos y resolver problemas
                  complejos, también los dilemas éticos y sociales que surgen
                  cuando los algoritmos comienzan a influir en decisiones
                  humanas. Reflexionaremos sobre cómo aprovechar estas
                  herramientas de forma responsable, creativa y con sentido
                  humano.
                </p>
              </div>
            </div>
          </div>
          <!-- Slide de Género -->
          <div class="carousel-slide">
            <div class="flex h-full justify-center p-6">
              <div
                class="flex flex-col items-center self-center text-center px-12 md:px-24 lg:32 xl:px-64"
              >
                <span class="icon-[streamline--gender-equality] size-35 bg-oro"
                ></span>
                <h4 class="font-bold text-2xl sm:text-3xl">
                  Género, inclusión y grupos marginados
                </h4><br />
                <p class="text-lg text-balance">
                  Construir una sociedad más equitativa empieza por reconocer
                  que todas las personas han tenido oportunidades diferentes y
                  su entorno ha sido diferente. Este eje nos invita a
                  reflexionar sobre cómo derribar las barreras estructurales que
                  han limitado la participación plena de mujeres, pueblos
                  originarios y otros grupos históricamente excluidos, en
                  ámbitos como la ciencia, la tecnología, la educación y la
                  política. Hablaremos de inclusión como un gesto simbólico y
                  como una transformación profunda para que todas las voces sean
                  escuchadas, respetadas y valoradas por igual.
                </p>
              </div>
            </div>
          </div>
          <!-- Slide de Migración -->
          <div class="carousel-slide">
            <div class="flex h-full justify-center p-6">
              <div
                class="flex flex-col items-center self-center text-center px-12 md:px-24 lg:32 xl:px-64"
              >
                <span class="icon-[mdi--world] size-35 bg-oro"></span>
                <h4 class="font-bold text-2xl sm:text-3xl">
                  Migración: Violencia y Criminalización
                </h4><br />
                <p class="text-lg text-balance">
                  Detrás de cada desplazamiento migratorio hay historias de
                  esperanza, lucha y resiliencia. Sin embargo, muchas de esas
                  trayectorias están marcadas por la violencia, la
                  discriminación y la criminalización de quienes migran. En este
                  eje queremos mirar la migración como un fenómeno global y como
                  una experiencia profundamente humana que nos concierne a
                  todos. Hablaremos de cómo cambiar las narrativas, cómo tender
                  puentes en lugar de muros, y cómo imaginar políticas y
                  comunidades que acojan, protejan y reconozcan el valor de cada
                  persona migrante.
                </p>
              </div>
            </div>
          </div>
          <!-- Slide de Habilidades -->
          <div class="carousel-slide">
            <div class="flex h-full justify-center p-6">
              <div
                class="flex flex-col items-center self-center text-center px-12 md:px-24 lg:32 xl:px-64"
              >
                <span class="icon-[mdi--idea] size-35 bg-oro"></span>
                <h4 class="font-bold text-2xl sm:text-3xl">
                  Habilidades para la vida: Pensar, colaborar y adaptarse en un
                  mundo cambiante
                </h4><br />
                <p class="text-lg text-balance">
                  En tiempos de cambios constantes, saber mucho ya no basta. En
                  nuestros tiempos, habilidades como el pensamiento crítico, la
                  comunicación efectiva, la empatía, la resiliencia y la
                  capacidad de resolver conflictos son esenciales para navegar
                  la vida personal, académica y profesional. Este eje centra la
                  discusión en las llamadas habilidades blandas, aquellas que
                  nos permiten colaborar, adaptarnos y tomar decisiones con
                  conciencia y sensibilidad. Reconocer su valor es clave para
                  formar personas capaces de responder a los retos del presente
                  y de construir entornos más humanos, creativos y sostenibles.
                </p>
              </div>
            </div>
          </div>
          <!-- Slide de Sustentabilidad -->
          <div class="carousel-slide">
            <div class="flex h-full justify-center p-6">
              <div
                class="flex flex-col items-center self-center text-center px-12 md:px-24 lg:32 xl:px-64"
              >
                <span class="icon-[mdi--seed] size-35 bg-oro"></span>
                <h4 class="font-bold text-2xl sm:text-3xl">
                  Sustentabilidad en el siglo XXI: tecnología, cultura y el arte
                  de cuidar el futuro
                </h4><br />
                <p class="text-lg text-balance">
                  El planeta requiere nuestra urgente atención. Este eje nos
                  invita a repensar, desde distintas disciplinas y vivencias
                  sobre nuestra relación e interacción con la Tierra: cómo
                  usamos los recursos naturales, cómo producimos y consumimos, y
                  cómo podemos vivir de manera más consciente, justa y
                  solidaria. Abordaremos la sustentabilidad no solo desde la
                  ecología, sino también desde la tecnología, la cultura, la
                  gobernanza y la vida cotidiana.
                </p>
                <p class="text-lg text-balance">
                  Exploramos propuestas locales y globales para enfrentar la
                  crisis climática y social del siglo XXI, reconociendo que
                  construir comunidades proactivas y responsables requiere
                  conocimiento, colaboración y un profundo compromiso con el
                  presente y el porvenir.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Previous Slide -->
      <button
        type="button"
        class="carousel-prev start-5 max-sm:start-3 carousel-disabled:opacity-50 size-9.5 bg-base-100 flex items-center justify-center rounded-full shadow-base-300/20 shadow-sm bg-blue-900"
      >
        <span class="icon-[tabler--chevron-left] size-5 cursor-pointer bg-white"
        ></span>
        <span class="sr-only">Previous</span>
      </button>
      <!-- Next Slide -->
      <button
        type="button"
        class="carousel-next end-5 max-sm:end-3 carousel-disabled:opacity-50 size-9.5 bg-base-100 flex items-center justify-center rounded-full shadow-base-300/20 shadow-sm bg-blue-900"
      >
        <span
          class="icon-[tabler--chevron-right] size-5 cursor-pointer bg-white"
        ></span>
        <span class="sr-only">Next</span>
      </button>
    </div>
  </div>

  <CajaContenido>
    <Tittle
      title="¿Dónde está ubicada la FES Acatlán?"
      subtitle=""
      color="oro"
    />
    <br />

    <div
      class="grid grid-cols-1 md:grid-cols-2"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d240539.41298096513!2d-99.31119848169715!3d19.608977569652023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d2030fe65d6abb%3A0xa7925e1d1a8c7a5d!2sCEMM%20-%20UNAM%20Centro%20de%20Estudios%20Municipales%20y%20Metropolitanos!5e0!3m2!1ses-419!2smx!4v1740712357164!5m2!1ses-419!2smx"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="w-full h-full px-0 sm:px-4"
        >
        </iframe>
      </div>
      <div data-aos="fade-up" data-aos-duration="1000">
        <br />
        <h1 class="text-xl text-left font-bold">La facultad está ubicada en</h1>
        <div class="pl-10 py-4">
          <p>Naucalpan de Juárez, Estado de México.</p>
          <p>En la avenida Jardines de San Mateo s/n.</p>
          <p>En la zona de Santa Cruz Acatlán</p>
        </div>
        <p>
          <b>Ubicación:</b> Por favor, revise la ubicación y asegúrese de que lo
          guíe a la Unidad de Investigación Multidisciplinaria de la FES Acatlán.
        </p>
        <p>
          GMaps: <a
            class="text-azul font-bold"
            href="https://maps.app.goo.gl/bzRwhZ2U4LZfNWdFA"
            target="_blank">https://maps.app.goo.gl/bzRwhZ2U4LZfNWdFA</a
          >
        </p>

        <br />
        <h1 class="text-xl text-left font-bold">
          ¿Cómo llegar a la FES Acatlán?
        </h1>
        <ol class="list-decimal pl-10">
          <li>
            <p>Desde el metro cuatro caminos:</p>
            <ol class="list-[lower-alpha] pl-10">
              <li>
                Tomar un bus en la salida J de camiones. Tiempo estimado 30
                minutos.
              </li>
            </ol>
          </li>
          <li>
            <p>Desde el aeropuerto de la Ciudad de México, Terminal 1</p>
            <ol class="list-[lower-alpha] pl-10">
              <li>
                Uber o taxi son buenas opciones. Tiempo estimado: 60 minutos.
              </li>
              <li>
                Tomar el metro. Tiempo estimado 60 minutos, llegar hasta el
                metro cuatro caminos, seguir paso 1.
              </li>
            </ol>
          </li>
          <li>
            Desde la terminal de autobuses de Tlalnepantla. Tiempo estimado: 45
            minutos.
          </li>
        </ol>
      </div>
    </div>
    <br /><br />
  </CajaContenido>
</BaseLayout>
